[Desktop Entry]
Name=setxkbmap
Comment=swap escape and caps
Exec=/usr/bin/setxkbmap -layout fr -option caps:swapescape
Terminal=false
Type=Application
